.page-body {
    width: 80vw;
    height: 80vw;
    position: fixed;
    top: 100px;
    left: 10vw;
    display: table;
}

div {
    padding: 0;
    margin: 0;
}

@media (max-width:500px) {
    .page-body {
        left: 100px;
        top:0;
        width: calc(100% - 110px);
        height: calc(100vh - 2px);
    }
}